@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
    overflow-x: hidden;
font-family: 'Varela Round', sans-serif !important;}

h1, h2, {
font-family: 'Varela Round', sans-serif !important;}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #013f83;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 300;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .play {
    display: block;
    margin: 0 auto -20px;
    color: #fff;
     text-decoration: none;
}

header .play:hover {
color: #013f83 ;
    }

.play i{
font-size: 10em;

}
.play i:hover{
color: #013f83 ;
    }

.play a {
 text-decoration: none;
}
.play a:hover{
    text-decoration: none;
    }

header .intro-text .intro {
    display: block;
    font-size: 2em;
    font-weight: 300;
}

header .intro-text .subintro {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
}

header .videotext {
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

header .intro-text .name {
    display: block;
    font-size: 3.2em;
    font-weight: normal;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
}

a.personal-button {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;;
    padding: 0.5em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}



.blocked {
    display: block;
}

header .intro-text .sponsoredby {
    font-size: 1em;
}


@media(min-width:768px) {
    header .container {
        padding: 200px 0 10px;
    }

    header .intro-text .intro  {
        font-size: 24px;
    }

    header .intro-text .name, .intro-text .name {
        font-size: 33px;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 5px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 5px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
/*color: #013f83 !important;
background-color: #4C88E2 !important;*/
color: #FFF !important;
background-color: #4C88E2 !important;
}

.nav>li>a:hover, .nav>li>a:focus {
/*color: #013f83 !important;
background-color: #4C88E2 !important;*/
color: #FFF !important;
background-color: #4C88E2 !important;
}

.navbar-nav>li>a {
padding-top: 10px !important;
padding-bottom: 10px !important;
}

.navbar-brand {
padding: 5px !important;
height: 30px !important;
}


.navbar {
min-height: 50px !important;
}

header {
    padding: 30px 0px 30px 0px;
}

section {
    padding: 60px 0px 60px 0px;

   
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}



.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000;
}

footer a {
    color: #FFF;
    text-decoration: none;
}
footer a:hover {
color: #013f83 ;
text-decoration: none;
    }

footer span {
    float: right;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}



.window-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.window-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.window-modal .modal-content img {
    margin-bottom: 30px;
}

.window-modal .modal-content .item-details {
    margin: 30px 0;
}

.window-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.window-modal .close-modal:hover {
    opacity: .3;
}

.window-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.window-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* Specific css */

.menu {
    text-transform: uppercase;
}

#inicial {
    background: #FFF url('../img/foto1.jpg') no-repeat top center fixed;
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 800px;
        /*height: 800px;*/
        /*padding-bottom: 200px;*/
}

#aprenderas {
        background: #FFF url('../img/foto2.jpg') no-repeat top center;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    color: #013f83;
}



#paraquien {
   /* background: #FFF url('../img/foto2.jpg') no-repeat top center; */
   background-color: #FCFCF5;
    color: #013f83;
}
#paraquien h2 {
    color: #338ed2;
}

#apoyo {
    background-color: #f0f0f0;
    color: #338ed2;
}

#apoyo .title {
    font-size: 1.5em;
    margin-bottom: 40px;
}

#apoyo img {
    margin-right: 20px;
}

#apoyo .contacto {
font-size: 1.2em;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;;
    padding: 1em;
    border: 1px solid #013f83;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #013f83;

}

#apoyo a{
text-decoration: none;
}



#inscribete {

    padding: 80px 0px 80px 0px;
}

#inscribete, #inscribete2  {
 background-color: #f0f0f0;
    color: #fff;

}


#expertos {
    background: #2A99EC url('../img/logo-fondo.png') no-repeat center;
    color: #fff;
}

#expertos a {
    color: #FFF;
}

#inscribete .call-text, #inscribete2 .call-text  {
    color: #013f83;
    font-size: 2.5em;
}

#social {
    background-color: #013f83;
    color: #FFF;
}

#social .call-text {
    font-size: 1.8em;
    margin-right: 180px;
}

#social i {
    font-size: 3em;
    margin-right: 30px;
}

#social2 {
    background-color: #223f83;
    color: #FFF;
}

#social2 .call-text {
    font-size: 1.8em;
    margin-right: 180px;
}

#social2 i {
    font-size: 3em;
    margin-right: 30px;
}

#social a, #social2 a {
    color: #fff;

}
#social a:hover, #social2 a:hover {
    color: #158be2;

}


#recursos {
    background: #FFF url('../img/foto3.png') no-repeat top center;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

  background-color: rgba(248, 247, 216, 0.7);

    color: #013f83;
}
.celest {
 color: #338ed2;

}
#recursos i {
    font-size: 9em;
    margin-right: 30px;
    color: #013f83;
    margin-bottom: 5px;
}

#recursos h2 {
    color: #338ed2;
}
#recursos .recurso-item {
    font-size: 1.5em;
    text-transform: uppercase;
}

#yahora {
    
    color: #FFF;
    background: #2A99EC url('../img/logo-fondo.png') no-repeat center fixed;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

#yahora p {
    text-align:justify;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 50px;
}

#yahora a.personal-button {
    color: #2c3e50;
    background-color: #FFF;
    margin-bottom: 50px;
}

section h2 {
    text-align: center;
    text-transform: none;
    padding-bottom: 20px;
   
}


#expertos img {
    border-radius: 100px;
    height: 128px;
    width: 128px;
}

#expertos img.noimg {
border: 1px solid #fff;
}

#expertos h4 {
    font-size: 2em;
    text-transform: capitalize !important;
}

#expertos p.bio {
    font-size: 0.8em;
    text-transform: uppercase;
}

#aprenderas i {
    font-size: 3em;
    margin-bottom: 20px;
}

#aprenderas a.personal-button {
    color: #fff;
    background-color: #013f83;
}

.row.space {
    margin-top: 20px;
    margin-bottom: 20px;

}

.form-control.registro {
display: block;
width: 40%;
height: 43px;
padding: 10px 15px;
margin-right: 10px;
font-size: 1.2em;
line-height: 1.42857143;
color: #2c3e50 !important;
background-color: #ffffff;
background-image: none;
border: 1px solid #dce4ec;
border-radius: 4px;
float: left;
}

.our-btn {
    text-transform: uppercase;
    background-color: #223f83 !important;
    border-color: #223f83 !important;
}

.description {
    padding-top: 40px;
    padding-bottom: 40px;
}

.description2 {
    padding-top: 80px;
    padding-bottom: 40px;
}

.item {
    padding-bottom: 20px;
    font-size: 1.2em;

}

ul.lista{
list-style-image: url('../img/li.icon.png');
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #2c3e50 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #2c3e50 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #2c3e50 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #2c3e50 !important;
}




.navbar-default {
    background-color: #4C88E2 !important;
    border-color: transparent;
}

.navbar-default ul li a:hover {
    /*color: #0b2346 !important;*/
}

.navbar-default ul li.active a:hover {
    /*color: #4C88E2 !important;*/
}

#expertos .contacto {
    font-size: 1.4em;

}

#contacto {
    background-color: #f0f0f0;
}
#contacto h2 {
color: #338ed2;

}